{% extends "plantilla.html" %}

{% block body%}
<div>
<h1>Hola Buenos Dias {{res}} es un gusto tenerte por aca y nos alegra que hayas decidido uniter a nosotros,
        bueno mira te comento nosotros somos una empresa que se centra en todo lo que tiene que ver con 
        programacion y analisis de software. Asi que pronto te estaremos enviando un correo a {{mes}} que es la direccion de correo que nos facilistaste,
        donde te estearemos brindando mas informacion sobre nosotros.
        Tambien te estaremos llamando al numero {{res2}} que fue el numero de contacto que nos facilitaste.
        Gracias por comunicarte con nosotros 😊</h1>
</div>
{% endblock %}